<h1>Welcome Admin</h1>
<%= link_to "Create User", new_user_path %>

<div id="students">
  <ul>
    <% @users.each do |user| %>
      <li><%= user.username %>  <%= link_to "Edit", edit_user_path(user) %>  <%= link_to "Delete", user_path(user), method: :delete %></li>
    <% end %>
  </ul>
</div>
